.entry {
  background-color: var(--view-bg-color);
  border: 1px solid black;
  border-radius: 8px;
  font-size: large;
  margin-bottom: 0.5em;
}
.current_day_header {
  color: #33d17a;
}

.priority {
  color: #f66151;
}

.list {
  border-right: 2px dotted grey;
  background-color: var(--accent-bg-color);
}